<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>register award</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="layout.css" />
    
</head>
<body>
    
</body>
</html>