body {
    background-color: #f2f6fc;
}
#txtNameRegister {
    background-color: transparent;
    border: solid 1px black
}
#userOnline {
    width: 30%;
    float: left;
    background-color: bisque;
}
#contentChat {
    width: 70%;
    float: right;
    background-color: cadetblue;
}
#listOnline{
    padding: 5px;
    text-align: center;    
}
#listContent{
    height: 200px;
}